*{
	padding: 0;
	margin: 0;
	border: 0;
}
a {
    text-decoration: none;
    color: #212353;
    cursor: pointer;
}
ul, li {
    list-style: none;
}
body {
    font-family: 'Roboto', sans-serif;
    min-width: 1100px;
    min-height: 600px;
}
.wrapper {
   max-width: 1440px;
   min-height: 900px;
   width: 100%;
   margin: 0 auto;
   display: flex;
   margin-top: 24px;
   margin-left: 32.34px;
   padding-right: 30px;
}
.nav_logo {
    width: 100%;
    max-width: 132px;
    max-height: 860px;
    background: #000000;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
   -webkit-box-shadow: 25px 0px 36px 0px rgba(0,0,0,0.42);
   -moz-box-shadow: 25px 0px 36px 0px rgba(0,0,0,0.42);
   box-shadow: 25px 0px 36px 0px rgba(0,0,0,0.42);
}
.logo {
    padding-top: 39px;
    padding-bottom: 100px;
}
li.list:nth-child(-n +4) {
    padding-bottom: 63px;
}
li.list:last-child {
    padding-bottom: 224.55px;
} 
.nav_exit {
    margin-bottom: 40px;
    margin-top: -20px;

}
.container_column_one {
    display: flex;
    flex-direction: column;
    margin-left: 71.98px;
    padding-top: 31px;

}
.header {
    min-width: 620px;
    max-height: 191.25px;
    margin-bottom: 24px;
}
.header_content {
    display: flex;
    background: #F5F5F7;
    border-radius: 14px;
    max-height: 160px;
    max-width: 620px;
}
.header_content {
    align-items: center;
    padding-left: 31px;
}
.header_img {
    position: relative;
    bottom: 15px;
    left: 132px;
}
.header_title{
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 57px;
}
.header_text-title { 
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-top: -8px;
}

main {

}

article {
    display: flex;
    flex-wrap: nowrap;
    min-width: 620px;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
}
.column_article {
    background-color: #F5F5F7;
    border-radius: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;                   /* ЦЕНТР */
    min-width: 500px;
    min-height: 80px;
}
.ellipse {
    display: flex;
    align-items: center;
    margin-left: -20px;
}
.img_ellipse {
    position: relative;
    left: 30px;
}
.percent {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    
}
.title_article {
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.info_article {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}
.img_spanish {
   background: #FFFFFF;
   padding: 16px;
   border-radius: 12px;
    
}
.img_spanish img {
   /* position: absolute;
    top: 263px;
    left: 222px;*/
}

.button_article {
    background: #000000;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.arrow_article img:first-child {
    
    margin-right: 10px;
    
}
.main_title {
    padding-top: 39px;
    padding-bottom: 16.24px;
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
}
.blok_main {
    margin-bottom: 10.24px;
}
.courses {
    display: flex;
}
section li {
    padding-right: 29.71px;
}
section li:first-child {
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
section li:nth-child(n +2) {
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    opacity: 0.3;
}
.text_block {
    margin-left: -20px;
}
div.time_clock {
    margin-left: -15px;
}
.section_blok {
    display: flex;
    min-width: 620px;
    min-height: 80px;
    align-items: center;
    background-color: #F5F5F7;
    border-radius: 14px;
    justify-content: space-around;
    margin-bottom: 16px; 
}
.img_block {
    background: #FFFFFF;
    min-width: 64px;
    min-height: 64px;
    border-radius: 12px;
}
.time {
    align-items: center;
    display: flex; 
}
.fire {
    display: flex;
     align-items: center;
}
.title_block {
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
.info_block {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}
.img_block img {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px 22px 16px 22px;
}
 .img_fire {
     padding-right: 7px;
}
.img_clock {
    padding-right: 7px;
}
.text_time {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}
.text_fire {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}
.button_block {
    width: 120px;
    height: 40px;
    left: 712.19px;
    top: 469.58px;
    background: #000000;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}
.img_photography {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px 16px 16px;
}
aside {
    display: flex;
    flex-direction: column;
    margin-left: 63.46px;
    padding-top: 31px;
}
.search_block {
    display: flex;
    align-items: center;
    padding-bottom: 23.67px; 
}
form {
    
    display: flex;
    width: 300px;
height: 40px;
    float: right;
    background: #F5F5F7;
    border-radius: 8px;
}
.searchbox {
   border: none;
    background: none;
    position: relative;
    padding: 0px;
    left: 0px;
    min-width: 300px;
    min-height: 40px;
}
form img {
    position: absolute;
    top: 65px;
    padding-left: 15.81px;
    
}
.bell {
    padding-left: 35px;
    padding-right: 17px;
    
}
.info_box {
    display: flex;
}
.box {
    display: flex;
    background: #F5F5F7;
border-radius: 14px;
    min-width: 208px;
    min-height: 96.33px;
    
    text-align: center;
    align-items: center;
    
}
.number {
    font-family: 'Baloo Bhai 2', cursive;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 102px;
padding-left: 35px;

}
    
.box_text {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
padding-left: 11.15px;
text-align: start;
}
div.box:first-child {
    margin-right: 23.78px;
}
section.blok_main.two {
    display: flex;

}
select {
    
    margin-left: 100px;
    background: #F5F5F7;
border-radius: 8px;
min-width: 88px;
min-height: 32px;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
}
.grap {
    margin-top: 32px;
    margin-bottom: 49.2px;
}
.last_block {
    display: flex;
    align-items: center;
    padding-left: 23.69px;
    padding-right: 48px;
    width: 440px;
height: 193px;


background: #F5F5F7;
border-radius: 14px;

}
.last_block h2 {
     font-family: 'Baloo Bhai 2', cursive;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 38px;
}
.last_block p {

font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
margin-bottom: 24.22px;
}
.last_button {
    width: 120px;
height: 40px;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;

color: #FFFFFF;


background: #000000;
border-radius: 8px;
}